@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

* {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.navbar {
    background: #F8F9FA;
}

.navbar-brand, .navbar-brand:hover {
    color: #261F1F;
    font-weight: 900;
    letter-spacing: 5px;
} 

a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: #7C7C7D;
}

a:hover {
    color: #444444;
    cursor: pointer;
}

.home {
    background-image: linear-gradient(rgba(30, 33, 36, 0.68), rgba(30, 33, 36, 0.68)), url("img/laptop.png");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
}

.intro-message {
    padding-top: 20%;
    padding-bottom: 20%; 
    text-align: center;
    text-transform: uppercase;
}

.line {
    margin: 0;
    height: 2px;
    background: #fff;
    margin-bottom: 8px;
    margin-left: 33%;
    margin-right: 33%
}

h1 {
    font-size: 2.5em;
    color:#FFF;
    font-weight: 900;
    letter-spacing: 3px;
}

h3 {
    font-size: 1.5em;
    color: #F8F9FA;
    font-weight: 500;
    letter-spacing: 2px;
}

.fa {
    margin-right: 5px;
}

.btn-secondary {
    margin: 2px;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
}

.about {
    background: #FFF;
}

.about img {
    float: right;
}

.rounded-circle {
    width: 130px;
    height: 130px;
}

.container>.row {
    padding-top: 5%;
}

.resume {
    background: #F8F9FA; 
}

.resume p {
    margin: 0;
}

.myskills {
    padding-bottom: 3%; 
}

.skills {
    text-align: right; 
    padding-right: 20px; 
    line-height: 40px; 
    color: white; 
    margin-bottom: 5%;
}

.ruby {width: 60%; background-color: #7C7C7D;} 
.ror {width: 20%; background-color: #7C7C7D;} 
.html {width: 75%; background-color: #7C7C7D;} 
.css {width: 70%; background-color: #7C7C7D;}
.js {width: 15%; background-color: #7C7C7D;}

.works {
    padding-bottom: 3%;
}

.works h1 {
    color: #261F1F;
}

.works img {
    background-size: cover;
    width: auto;
    max-width: 100%;
    background-repeat: no-repeat;
}

.contact {
    background: #F8F9FA; 
    padding: 3%;
}

.footer {
    padding-top: 1%; 
    text-align: center;
}